<!DOCTYPE HTML>

<head>
  <title>Sign in</title>
  <style>
    body {background-color:grey;}
  </style>
</head>

{%block body %}
<div style="width:800;height:700;text-align:center;">
<h1>Sign In</h1>

{% if fail==1 %}
  <h3>Incorrect username or password</h3>
{%endif%}
<form action={{url_for('verify')}} method="post">

    UserName<br/>
    <input name="username" type="text">
    <br/><br/>
    Password <br/>
    <input name="password" type="password">
    <br/><br/>
    <input type="submit" value="Sign in">
  </form>
  <h2>Don't have an account? Sign up now</h2>

  <form action="{{url_for('register')}}">
    <input type="submit" value="Register"/>
  </form>
</div>

{%endblock%}
